# 보안 및 환경변수 (가장 중요)
.env
.env.production
.env.*
*.pem
docker-compose.override.yml
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# 파이썬 가상환경
venv/
.venv/
env/
# 파이썬 캐시 파일
__pycache__/